@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

:root {
  --bg: #ffffff;
  --text: #1e293b;
  --surface: #f8fafc;
}
body.dark {
  --bg: #1e293b;
  --text: #f8fafc;
  --surface: #334155;
}
body {
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
  font-family: 'Montserrat', sans-serif;
}
